<div class="container mt-5">
  <div
    class="twilio-video"
    data-sid="<%= ENV["ACCOUNT_SID"] %>"
    data-room="<%= @session.id %>"
    data-token="<%= @token %>"
    data-status="<%= current_user.status %>"
    >
    <div class="row justify-content-between">
      <div class="col-7">
        <div class="participant text-center">
        </div>
      </div>
      <div class="col-4">
        <div class="remote-media-div text-center">
        <div style="position: relative;">
          <div class="muted-video"></div>
          <video id="userVideo" autoplay muted="true" ></video>
        </div>
          <div>
            <button id="muteAudio" class="btn  btn-outline-secondary btn-sm">Mute audio</button>
            <button id="unmuteAudio" class="btn  btn-outline-secondary btn-sm">Unmute audio</button>
            <button id="muteVideo" class="btn  btn-outline-secondary btn-sm">Mute video</button>
            <button id="unmuteVideo" class="btn  btn-outline-secondary btn-sm">Unmute video</button>
            <button id='leave-btn' class='btn btn-outline-primary btn-sm mt-3'>Quitter l'activité</button>
          </div>
        </div>
      </div>
    </div>
    <%# <div class="row">
      <div class="col-7">
        <p class="text-center"> %>
          <%#= @booking.user == current_user ? @booking.proposal.proposer.email : @booking.booker.email %>
        <%# </p>
      </div>
    </div> %>
    <%#= link_to '', root_path, class: 'd-none root-link', data: {turbolinks: false}  %>
  </div>
</div>
