.simple-calendar {

  border: none;
  padding: 20px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);

  .calendar-heading {
    display: table;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .table thead th {
    text-align: center;
  }

  .calendar-title {
    font-size: xx-large;
    margin: 0 auto;
  }

  table {
  border-radius: 5px;
  }

  a {
    // background-color: #abc0e7;
    color: #6447F9;
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 12px;
  }
  a:hover {
      background-color: #ffe0e3;
      color: #ffffff;
      border-radius: 50%;
      text-decoration: none;
  }

  .past {
    background-color: #ffffff;
  }
  .future {
    background-color: #ffffff;
  }

  .event {
    font-size: smaller;
    text-align: center;
    // background-color: opacify($color: #dfe8fa , $amount: .5);
    margin-bottom: 5px;
    padding: 3px;
    border-radius: 5px;

  }

  #corps {
    background-color: aliceblue;
    color: #6447F9;
  }
  #esprit {
    background-color: #fff1f3;
    color: #6447F9;
  }

  .today {
    background-color:  #f6f5ff !important;
  }
}
