<div class="footer d-flex flex-column align-items-center flex-direction-between">
  <div class="socials">
    <p>Suivez-nous sur les réseaux sociaux !</p>
    <a href="https://github.com/Andrea-ellii/ellii" class="social-link">
      <i class="fab fa-github-alt social-icon"></i>
    </a>
    <a href="" class="social-link">
      <i class="fab fa-facebook-f social-icon"></i>
    </a>
    <a href="" class="social-link">
      <i class="fab fa-instagram social-icon"></i>
    </a>
    <a href="" class="social-link">
      <i class="fab fa-twitter social-icon"></i>
    </a>
  </div>
  <p class="mb-0 footer-text">© 2021 Copyright Ellii - Fait avec 💜 au Wagon par la team capy <%= image_tag "default_avatar.png", class: "avatar-small"%></p>
</div>
