<div class="container mt-5 mb-5 visitor-homepage">

  <%# BANNER %>
  <div class="mt-5 d-flex justify-content-between align-items-center banner">
    <div>
      <h1 style="font-size: 35px; margin-bottom: 10px; color: #1D4668;">Bienvenue sur <strong>ellii</strong></h1>
      <p style="font-size: 18px;">Lutter contre l'isolement de nos aînés est notre priorité. Pour cela, nous vous proposons des ateliers divers et variés, à domicile ou en présentiel, pour maintenir un lien social.</p>
      <%# root_path(anchor: "program") %>
      <%= link_to "Découvrir", "#", class: "btn btn-primary btn-font", style: "margin-right: 20px; padding-right: 41px; padding-left: 41px;" %>
    </div>
    <%= image_tag "homepage/together.png", style:"width: 550px;" %>
  </div>
</div>
