<% if remote %>
  <div class="card">
    <h3>Chez moi</h3>
    <%= image_tag "illustrations/remote.png", style:"width: 200px;" %>
  </div>
<% else %>
  <div class="card">
    <h3>A l'extérieur</h3>
    <%= image_tag "illustrations/outside.png", style:"width: 200px;" %>
  </div>
<% end %>
