<% if score == 1 %>
  <img src="http://cdn.shopify.com/s/files/1/1061/1924/products/Emoji_Icon_-_Sad_Emoji_grande.png?v=1571606093" alt="sad" class="smiley-mood">
  <%# <p class="description">Triste</p> %>
<% elsif score == 2 %>
  <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Neutral_Emoji_icon_9f1cc93a-f984-4b6c-896e-d24a643e4c28_large.png?v=1571606091" alt="neutral" class="smiley-mood">
  <%# <p class="description">Neutre</p> %>
<% elsif score == 3 %>
  <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Slightly_Smiling_Emoji_Icon_34f238ed-d557-4161-b966-779d8f37b1ac_large.png?v=1571606093" alt="neutral" class="smiley-mood">
  <%# <p class="description">Ok</p> %>
<% elsif score == 4 %>
  <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/16_large.png?v=1571606116" alt="neutral" class="smiley-mood">
  <%# <p class="description">Souriant</p> %>
<% elsif score == 5 %>
  <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Emoji_Icon_-_Happy_large.png?v=1571606093" alt="neutral" class="smiley-mood">
  <%# <p class="description">Heureux</p> %>
<% end %>
