<div class="mood" style="margin-bottom: 90px;" id="mood-selection-partial">
  <h3 class="section-title ">Humeur du jour </h3>
  <p style="width: 80%; margin: auto;">Votre humeur du jour a bien été enregistrée pour aujourd'hui, revenez nous voir demain pour nous dire comment vous vous sentez !</p>
  <p><%= score %></p>
  <%= image_tag "illustrations/mood.png", style:"width: 350px; display: block; margin: 30px auto 10px auto;" %>
</div>
