<% if mind %>
  <div class="card">
    <h3>On apprend !</h3>
    <%= image_tag "illustrations/mind.png", style:"width: 200px;" %>
  </div>
<% else %>
  <div class="card">
    <h3>On bouge !</h3>
    <%= image_tag "illustrations/badminton.png", style:"width: 200px;" %>
  </div>
<% end %>
