<div class="container mt-4">
  <%# ---- SENIOR DASHBOARD ---- %>
  <% if current_user.status == 'senior'%>
    <%= render "dashboard_senior" %>
  <% end %>
  <%# ------ TEACHER DASHBOARD ------ %>
  <% if current_user.status == 'teacher'%>
    <%= render "dashboard_teacher" %>
  <% end %>
  <%# --- ADMIN DASHBOARD --- %>
  <% if current_user.status == "true" %>
    <%= render "dashboard_admin" %>
  <% end %>
</div>
