<head>
  <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="a248a030-0a0a-4286-a9dd-8b5306d53568";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
</head>

<div class="container">
  <% if user_signed_in? %>
    <% if current_user.status == "senior" %>
      <%= render "home_senior" %>
    <% end %>
  <% end %>

</div>
