// HOME ACTIVITY BADGES

.home-activities {

  .activity-badges{
    display: flex;
    justify-content: space-evenly;

    div {
      border-radius: 50%;
      background-color: #FEF5F6;
    }

    .activity-img {
      width: 200px;
    }
  }
}

@media (min-device-width: 250px) and (max-device-width: 767px) {
  .activity-badges {
    flex-direction: column;

    .badge-width {
      width: fit-content;
      margin: auto;
    }

    .badge-margin {
      margin-bottom: 40px;
    }
  }
}

@media (min-device-width: 768px) and (max-device-width: 1024px) {
  .home-activities .activity-badges .activity-img {
      width: 160px;
  }
}



// HOME SPONSORS

.sponsors {
  img {
    text-align: center;
    height: 50px;
  }
}
