// HOME ACTIVITY BADGES

.home-activities {

  .activity-badges{
    display: flex;
    justify-content: space-evenly;

    div {
      border-radius: 50%;
      background-color: #FEF5F6;
    }

    .activity-img {
      width: 200px;
    }
  }
}
