.visitor-homepage {

  .banner {

    h1 {
      font-size: 50px;
      margin-bottom: 10px;
      color: #1D4668;
      font-weight: 600;

      strong {
        color: $purple;
        letter-spacing: 4px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        font-size: 38px;
        padding-left: 10px;
      }
    }

    p {
      // text-align: justify;
      line-height: 30px;
      margin: 40px 0px;
    }

    img {
      width: 50%;
    }

    .small-device {
      display: none;
    }

    .btn-margin {
      margin-right: 20px;
    }
  }
}

@media (min-device-width: 250px) and (max-device-width: 767px) {
  .visitor-homepage {
    .banner {
      flex-direction: column;

      h1{
        font-size: 33px;
        text-align: center;
        text-align-last: center;
      }

      p {
        text-align: justify;
        text-align-last: center;
      }

      a {
        display: block;
      }

      .btn-know-more {
        margin-bottom: 20px;
      }

      .btn-margin {
        margin-right: 0px;
      }

      img {
        width: 100%;
        margin-top: 30px;
      }

      .large-device {
        display: none;
      }

      .small-device {
        display: block;
      }

    }
  }
}

@media (min-device-width: 768px) and (max-device-width: 1024px) {
  .visitor-homepage {
    .banner {
      flex-direction: column;

      h1{
        font-size: 33px;
        text-align: center;
        text-align-last: center;
      }

      p {
        text-align: justify;
        text-align-last: center;
      }

      .link-container {
        display: flex;
        justify-content: space-evenly;

        .btn-margin {
          margin-right: 0px;
        }
      }

      img {
        width: 60%;
        margin: auto;
        margin-top: 30px;
      }

      .large-device {
        display: none;
      }

      .small-device {
        display: block;
      }

    }
  }
}
