.full-height {
  height: 500px;
}

.chat {
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h2 {
    font-size: 24px;
    padding-bottom: 8px;
    border-bottom: #f0f0f0 solid 1px;
    margin: 0%;
    width: 100%;

    i {
      font-size: 20px;
    }
  }
}

.chat {

  .chat-messages {
    margin-top: 16px;
    overflow: scroll;
    height: 300px;
    width: 100%;
  }

  .message {
    display: flex;
    align-items: flex-start;
  }

  .message-txt {
    flex-grow: 1;
    padding-left: 16px;
    padding-top: 3px;
  }

  .message-txt h3,
  .message-txt p {
    margin: 0;
    text-align: left;
  }

  .message-txt h3 {
    font-size: 16px;
    padding-bottom: 2px;
  }

  .message-txt p {
    padding-bottom: 16px;
  }

  .message-txt em {
    font-style: normal;
    color: #E93E8C;
    font-size: 15px;
    font-family: 'Space Mono', monospace;
  }

  .new-message {
    padding: 10px 0px;
    display: flex;
    width: 100%;
  }

  .new-message input {
    flex-grow: 1;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
  }

  .new-message input:focus {
    border: solid 3px #bbadba;
    box-shadow: none;
    outline: none;
  }

  .new-message .btn-send {
    border: none;
    width: 100px;
    border-radius: 4px;
  }

  .new-message .btn-send:hover {
    background-color: #4A3949;
    color: white;
  }


  .avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
  }

}
