.footer {
  height: 120px;
}

.footer .socials {
  padding: 20px;
  width: 100%;
  text-align: center;
  background-color: white;
}

.footer .social-link {
  text-decoration: none;

  &:hover .social-icon {
    color: #E7957E;
  }
}

.footer .social-icon {
  color: $purple;
  font-size: 50px;
  margin-right: 20px;
  margin-left: 20px;
}

.footer .footer-text {
  font-size: 18px;
  letter-spacing: 1px;
  color: white;
  background-color: #E7957E;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
