// FORM ADD NEW ACTIVITY

.address-hidden,
.address-label {
  display: none;
}

.toggle-address-visibility {
  display: block;
}


// ACTIVITY SHOW -> BACK TO RESULTS

.back-to-results .form-check {
  display: none;
}


// CONTACT FORM

.contact-form-home {
  form {
    .contact_name,
    .contact_email {
      width: 49%;
    }

    .contact_name,
    .contact_email,
    .contact_message {
      input,
      textarea {
        background-color: #EDF0F3;
        border: none;
        border-radius: 10px;
        opacity: 0.8;
      }

      ::placeholder {
        color: #1D4668;
      }
    }
    .btn-container {
      display: flex;
      justify-content: flex-end;

      .btn-submit{
        padding: 10px 30px;
      }
    }
  }
}

@media (min-device-width: 250px) and (max-device-width: 1024px) {
  .contact-form-home {

    .form-input {
      flex-direction: column;
    }

    form {
      .contact_name,
      .contact_email {
        width: 100%;
      }

      .btn-container {
      display: block;

        .btn-submit{
          display: block;
          width: 100%;
          border-radius: 10px;
        }
      }
    }
  }
}

// LOGIN and CONTACT FORMS

.login-form,
.contact-form {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  margin: 80px auto;

  img {
    width: 560px;
    margin-right: 60px;
  }

  .form {


    h3 {
      font-weight: normal;
      color: $purple;
    }

    h2 {
      font-size: 35px;
    }

    .instruction {
      color: #7a7a7a;
      margin-bottom: 45px;
    }

    .btn-login {
      border-radius: 4px;
      width: 100%;
      margin-bottom: 10px;
    }
  }

}
