.mood {
  text-align: center;
  margin: 22px auto 50px auto;
  background-color: white;
  padding: 22px 20px;
  border-radius: 6px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);

  i {
    color: #1D4668;
  }
}

.mood legend {
  display: none;
}

.mood {
  .category-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .category-item {
    flex: 0 0 0 0 20%;
    background-color: #EDE9FF;
    // box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    width: 120px;

    &:hover {
      // #frown {
      //   color: #FF6161;
      // }
      // #meh {
      //   color: #FF8F8F;
      // }
      // #smile {
      //   color: #624CD4;
      // }
      // #smile-beam {
      //   color: #4DB4D4;
      // }
      // #laugh-beam {
      //   color: #2C88BF;
      // }

      i {
        color: #624CD4;
      }
    }
  }

  .category-selector {
    position: absolute;
    transform: scale(0);
  }

  .category-selector + label {
    display: block;
    cursor: pointer;
    width: 100%;
    font-size: 80px;
    text-align: center;
  }

  // .category-selector:checked + label {
  //   color: white !important;
  // }

  #mood_score_1:checked + label i {
    color: #FF6161;
  }
  #mood_score_2:checked + label i {
    color: #FF8F8F;
  }
  #mood_score_3:checked + label i {
    color: #624CD4;
  }
  #mood_score_4:checked + label i {
    color: #4DB4D4;
  }
  #mood_score_5:checked + label i {
    color: #2C88BF;
  }

}
