// HOMEPAGE MOOD

.mood {
  text-align: center;
  margin: 22px auto 50px auto;
  background-color: white;
  padding: 22px 20px;
  border-radius: 3px 210px 210px 220px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);

  .smiley-mood {
    width: 60px;
  }

  .description {
    font-size: 17px;
    margin-bottom: 0;
    margin-top: 10px;
  }
}

.mood legend {
  display: none;
}

.mood {
  .category-wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    width: 90%;
  }

  .category-item {
    // flex: 0 0 0 0 20%;
    background-color: transparent;
    min-width: 125px;
  }

  .category-selector {
    position: absolute;
    transform: scale(0);
  }

  .category-selector + label {
    display: block;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 30px 30px;
    border: solid 7px transparent;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    transition: 0.3s ease-out;
    &:hover {
      background-color: #E2ECFF;
      color: white;
      transition: 0.3s ease-out;
    }
  }

  // .category-selector:checked + label {
  //   color: white !important;
  // }

  #mood_score_1:checked + label,
  #mood_score_2:checked + label,
  #mood_score_3:checked + label,
  #mood_score_4:checked + label,
  #mood_score_5:checked + label {
    background-color: #E2ECFF;
    border-radius: 6px;
    color: white;
    border: solid 7px $purple;
  }
}

.mood .btn-font {
  margin-top: 30px;
}


// ACTIVITY MOOD

.atelier-mood {
  text-align: center;
  margin: 20px auto 0px auto;

  .description {
    color: #1D4668;
    margin-bottom: 0;
  }

  img {
    width: 35px;
    height: 35px;
  }

  .category-wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    width: 100%;
  }

  .category-selector + label {
    cursor: pointer;
    transition: 0.3s ease-out;
    &:hover {
      background-color: #4DB4D4;
      transition: 0.3s ease-out;

      .description {
        color: white;
      }
    }
  }

  #booking_score_1 + label,
  #booking_score_2 + label,
  #booking_score_3 + label,
  #booking_score_4 + label,
  #booking_score_5 + label {
    padding: 20px;
    border-radius: 6px;
  }

  #booking_score_1,
  #booking_score_2,
  #booking_score_3,
  #booking_score_4,
  #booking_score_5 {
    display: none;
  }

  #booking_score_1:checked + label,
  #booking_score_2:checked + label,
  #booking_score_3:checked + label,
  #booking_score_4:checked + label,
  #booking_score_5:checked + label {
    background-color: #4DB4D4;
    border-radius: 6px;
    .description {
      color: white;
    }
  }

  .btn-save-mood {
    padding: 10px 24px;
  }
}
