.mood {
  text-align: center;
  margin: 22px auto 50px auto;
  background-color: white;
  padding: 22px 20px;
  border-radius: 3px 210px 210px 220px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);

  .smiley-mood {
    width: 60px;
  }

  .description {
    font-size: 17px;
    margin-bottom: 0;
    margin-top: 10px;
  }
}

.mood legend {
  display: none;
}

.mood {
  .category-wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    width: 90%;
  }

  .category-item {
    // flex: 0 0 0 0 20%;
    background-color: transparent;
  }

  .category-selector {
    position: absolute;
    transform: scale(0);
  }

  .category-selector + label {
    display: block;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 12px 30px;
    background-color: #d8e7ea;
    border-radius: 6px;
    transition: 0.3s ease-out;
    &:hover {
      background-color: #4DB4D4;
      color: white;
      transition: 0.3s ease-out;
    }
  }

  // .category-selector:checked + label {
  //   color: white !important;
  // }

  #mood_score_1:checked + label,
  #mood_score_2:checked + label,
  #mood_score_3:checked + label,
  #mood_score_4:checked + label,
  #mood_score_5:checked + label {
    background-color: #4DB4D4;
    border-radius: 6px;
    color: white;
  }
}

.mood .btn-font {
  margin-top: 30px;
}
