.path {
  margin-bottom: 100px;

  h2 {
    font-size: 25px;

    strong {
      background-color: #EDE9FF;
      padding: 5px 14px;
      border-radius: 50%;
      color: #6447f9;
    }
  }

  .illustration {
    width: 300px;
  }

  .dashed-path {
    width: 400px;
  }
}

@media (min-device-width: 250px) and (max-device-width: 767px) {
  .path {
    .illustration {
      display: none;
    }

    .dashed-path {
      display: none;
    }
  }
}
