// SENIOR HOMEPAGE

.senior-homepage .section-title {
  color: #7d6ae1;
  letter-spacing: 2px;
  font-size: 15px;
  text-transform: uppercase;
  width: fit-content;
  margin: auto;
  background-color: #EDE9FF;
  padding: 5px 21px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.activity-show .section-title {
  color: #65C367;
  width: fit-content;
  background-color: #F7FCF8;
  padding: 5px 21px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.title-infos {
  color: #7B61FF;
  width: fit-content;
  background-color: #F8F7FF;
  padding: 5px 21px;
  border-radius: 15px;
  margin-bottom: 20px;
}
