.user-btn {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.participant {
  border-radius: 6px;
  overflow: hidden;
  video {
    border-radius: 6px;
    width: 100%;
  }
}

.remote-media-div {
}

#userVideo {
  width: 100%;
  border-radius: 6px;
}

.muted-video {
  position: absolute;
  border-radius: 6px;
  background-color: #000;
  opacity: 0;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
}
