.type-location-form {

  text-align: center;
  margin: 22px auto 50px auto;
  background-color: white;
  padding: 22px 20px;
  border-radius: 220px 3px 210px 210px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);

  .category-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .category-item {
    flex: 0 0 0 0 20%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);
    border: none;
    border-radius: 10px;
  }

  .category-selector {
    position: absolute;
    transform: scale(0);
  }

  .category-selector + label {
    display: block;
    cursor: pointer;
    width: 100%;
    font-size: 80px;
    text-align: center;
  }
}

.type-location-form {
  .card {
    font-size: 30px;
    padding: 20px 40px;
    border: solid 7px transparent;

    &:hover {
      background-color:#e1ecff;
    }

  }

  #search_mind_true:checked + label .card,
  #search_mind_false:checked + label .card,
  #search_remote_true:checked + label .card,
  #search_remote_false:checked + label .card {
    background-color: #e1ecff;
    border: solid 7px $purple;
  }
}
