<div class="container">
  <% if @activities[0].nil? %>
    <h1 class="mt-5">Nous n'avons aucune activité à vous proposer pour le moment...</h1>
  <% else %>
    <h1>Liste des activités</h1>
		<div class ="row">
			<% @activities.each do |activity| %>
				<div class="col align-center my-5">
					<div class="card d-flex flex-column", style="box-shadow: 0 0 15px rgba(0,0,0,0.1); height: 250px;">
						<h3 class="card-title text-center"><%= activity.title %></h3>
						<%= link_to "En savoir plus", activity_path(activity), class: "btn btn-info text-center mt-auto"%>
					</div>
				</div>
			<% end %>
		</div>
  <% end %>
  <%= link_to "Retour vers la page d'accueil", root_path, class: "btn btn-light mt-3" %>
</div>
